*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(Imagenes/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;    
}
div{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    width: 800px;
    height: 400px;
    justify-content: center; 
}
.contenedorIniciar{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 100px;
}
button{
    cursor: pointer;
    padding: 10px 40px;
    font-size: medium;
    font-weight: 600;
    border: 2px solid #fff;
    background: transparent;
    outline: transparent;
    color: white;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedorFormulario{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

.contenedorFormulario form {
    width: 100%;
    padding: 80px 20px;
    background: darkred;
    position: relative;
    border-radius: 20px;
}
input{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
}
.opciones{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;

}

.caja_Saldo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}


.caja_retirar{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

.caja_Depositar{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

.caja_InicioNuevo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    background-color: darkred;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

